<!-- Nav tabs -->
<div class="container col-3">
<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to "Home", root_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Purchase Orders", "/purchase_orders", class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Items", "/items", class:"nav-link" %>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="home"></div>
  <div class="tab-pane container fade" id="Purchase Orders"></div>
  <div class="tab-pane container fade" id="Items"></div>
</div>
</div>